LLM_BASE_URL=https://chat.kiconnect.nrw/api/v1
LLM_API_KEY=
LLM_DEFAULT_MODEL=mistralai-mistral-small-4-119b
YOUTUBE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
